@import url("./base/reset.css");
@import url("./base/typography.css");
@import url("./layouts/container.css");
@import url("./components/navbar.css");
@import url("./components/footer.css");

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.45;
  cursor: not-allowed;
  filter: grayscale(1);
}
