main {
  padding: 2rem 0;
}

main > h1 {
  margin-bottom: 1.2rem;

  font-size: 2.5rem;
  text-align: center;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.user {
  display: grid;
  grid-template-columns: 32px 1fr auto;
  align-items: center;
  gap: 0.75rem;

  padding: 0.8rem 1rem;

  border: 1px solid var(--darker-border);
  border-radius: 10px;
  background: var(--secondary);
}

.rank {
  text-align: center;
}

.emoji {
  display: inline-block;
  font-size: 1.6em;
}

.username {
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
}

.rating {
  font-size: 1.3rem;
  font-weight: 700;
  color: #666;
}

@media (min-width: 768px) {
  .users {
    align-items: center;
  }

  .user {
    width: 580px;
  }
}
