html,
body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 23vh;
}

.username {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.rating {
  font-size: clamp(6rem, 20vw, 14rem);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.08em;
}
